body {
    background-color: #FFF;
    font-family: 'Titillium Web', sans-serif !important;
    font-size: 12px;
	line-height: 20px;
}

@media screen and (max-width: 700px) {
    div#menu-links {
        display: none;
    }
    div#header {
        width: 100%;
    }
    button.menu-phone {
        display: block;
    }
}

#header {
    width: 80%;
    margin-top:15px;
}
.menu-phone {
    display: none;
    position: fixed;
    top: 15px;
    right: 15px;
    background-color: #ff2651;
    border: none;
}
.links-phone-menu {
    font-family: 'Titillium Web', sans-serif;
    font-size: 12px;
    font-weight: bolder;
    background-color: #eee;
    display: none;
    position: fixed;
    top: 44px;
    right: 15px;
    padding: 12px;
}
.links-phone-menu a {
    color: #1b4b5e;
    text-decoration: none;
}
.links-phone-menu a:hover {
    text-decoration: none;
}
.links-phone-menu hr{
    margin: 10px 0px;
    border-top: 1px solid #ccc;
}
.phone-links {
    text-align: center;
}
.clear {
    height: 12px;
}
.clear-big {
    height: 30px;
}
.agenda-link{
    font-family: 'Fjalla One', sans-serif;
    border: 1px solid #ff2651;
    height: 64px;
    padding: 8px;
    margin: 8px auto;
    max-width: 1052px;
}
.seccion-head {
    font-family: 'Fjalla One', sans-serif;
    border: 1px solid #ff2651;
    text-align: center;
    font-size: 24px;
    color: #1b4b5e;
    height: 52px;
    padding: 8px;
    margin: 8px auto;
    max-width: 1052px;
    letter-spacing: 3px;
}
.agenda-link .titulo-agenda {
    position: relative;
    float: left;
    width: 51%;
    margin-left: 2%;
    font-size: 34px;
    color: #1b4b5e;
    letter-spacing: 6px;
}
.agenda-link .inner{
    float: left;
    width: 26%;
    font-size: 14px;
    color: #1b4b5e;
    letter-spacing: 5px;
    margin-left: 2%;
}

.agenda-link .btn {
    float: right;
    width: 14%;
    font-size: 22px;
    color: #eee;
    background-color: #1b4b5e;
    letter-spacing: 5px;
    border-radius: 0 !important;
}
div.ad-one {
    width: 98%;
    margin: 15px 1%;
    height: 50px;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

div.name {
    max-width: 120px;
    line-height: 24px;
    font-family: 'Titillium Web', sans-serif !important;
    font-size: 22px;
    font-weight: bolder;
    color: #1b4b5e;
    padding-bottom: 7px;
}
div.name a:hover{
    color: #ff4330;
    text-decoration: none;
}
div.horarios {
    line-height: 12px;
    font-size: 12px;
    font-weight: bolder;
    color: #1b4b5e;
}
nav ul{
    margin: 0;
    padding: 0;
}
nav li{
    list-style-type: none;
    margin: -5px 0;
    padding: 0;
}
nav.links a{
    line-height: 25px;
    font-size: 12px;
    font-weight: bolder;
    color: #1b4b5e;
}
nav.links a:hover{
    color: #ff4330;
    text-decoration: none;
}
div.contacto ul{
    margin: 0;
    padding: 0;
}
div.contacto li{
    list-style-type: none;
    margin: -5px 0;
    padding: 0;
}
div.contacto a{
    line-height: 13px;
    font-size: 13px;
    font-weight: bolder;
    color: #265d8c;
}
div.contacto a:hover{
    color: #ff4330;
    text-decoration: none;
}
div.contacto input{
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    color: #666;
    border-radius: 4px;
    font-size: 14px;
    background-color: #e5e5e5;
    background-repeat: no-repeat;
    padding: 5px 10px;
    margin-top: 5px;
}
div.contacto .btn{
    border: 0px;
    color: white;
    background-color: #ff4330;
    border-radius: 0px;
    font-size: 12px;
    padding: 2px 6px;
    width: 100%;
    cursor: pointer;
}
div.social a{
    line-height: 12px;
    font-size: 22px;
    color: #1b4b5e;
}
div.social a:hover{
    color: #ff4330;
    text-decoration: none;
}
div.social input{
    width: 92%;
    box-sizing: border-box;
    border: 0;
    color: #fff;
    border-radius: 3px;
    font-size: 11px;
    background-color: #d0d0d0;
    padding: 2px 6px;
    margin: 35px 2% 0 0;
}
div.social .btn{
    width: 6%;
    color: #ff4330;
    margin-top: 25px;
    background-color: transparent;
    font-size: 14px;
    cursor: pointer;
    float: right;
    padding: 7px 2px;
}
div.logo {
    position: relative;
    overflow: hidden;
    width: 46px;
    height: 26px;
}
div.logo img{
    position: relative;
    width: 65px;
    height: 65px;
    top: -17px;
    left: -10px;
}

.filter {
    background-color: #1b4b5e;
    opacity: 0.3;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.nota-box {
    position: relative;
    margin: 8px;
    float: left;
    max-width: 340px;
    max-height: 340px;
    overflow: hidden;
}
.nota-box img{
    position: relative;
    top: 0;
    left: -50%;
}
.nota-box img.seccion {
    position: relative;
    top: 0;
    left: 0;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
.nota-box:hover .overlay {
    cursor:pointer
}
.nota-box p.fecha{
    font-size: 16px;
    z-index: 2000;
}
.w3-third {
    width: 30% !important;
    margin: 1%;
}
.text-content {
    padding: 20px;
    color: white;
    width: 100%;
    height: 100%;
    text-align: center;
}
.text-content-b {
    padding: 10px;
    color: white;
    width: 100%;
    height: 100%;
    text-align: center;
}
.third-text-content {
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
    position: relative;
    bottom: -100px;
    max-height: 220px;
}
.text-content a:hover{
    text-decoration: none;
    color: #fff;
}
.third-text-content a{
    color: #fff;
}
.third-text-content a:hover{
    color: #fff;
    text-decoration: none;
}
.third-text-content .title{
    font-size: 20px;
    text-align: center;
    letter-spacing: 4px;
    min-height: 120px;
}
.third-text-content .seccion{
    font-size: 14px;
    padding-top: 5px;
    letter-spacing: 2px;
    color: #fff;
    text-align: center;
    margin-top: 15px;
}
.third-text-content .txt{
    font-size: 12px;
    padding-top: 5px;
    color: #eee;
    text-align: center;
}
.picture {
    display: block;
}
.agenda .item {
  position: relative;
  font-family: 'Fjalla One', sans-serif;
  padding: 10px 0;
  margin: 8px auto;
  max-width: 1052px;
  min-height: 235px;
}
.item .img{
  position: relative;
  float: left;
  margin: 0 15px 10px 0px;
  max-width: 215px;
  max-height: 215px;
  overflow: hidden;
}
.item .titulo {
  font-size: 20px;
  text-transform: uppercase;
  color: #ff2651;
  letter-spacing: 3px;
}
.item .titulo a {
  color: #1b4b5e;
  text-transform: none;
}
.item .titulo a:hover {
  text-decoration: none;
}
.item .descripcion {
  margin-top: 10px;
  font-size: 16px;
  color: #1b4b5e;
}
.item .lugar {
  position: absolute;
  bottom: 4px;
  left: 230px;
  margin-top: 10px;
  font-size: 16px;
  color: #1b4b5e;
  letter-spacing: 2px;
}
.item .horario {
  position: absolute;
  letter-spacing: 2px;
  bottom: 26px;
  left: 230px;
  margin-top: 10px;
  font-size: 16px;
  color: #ff2651;
}
.agenda-menu {
  font-family: 'Fjalla One', sans-serif;
  text-align: center;
  font-size: 16px;
  color: #1b4b5e;
  height: 38px;
  padding: 8px;
  margin: 8px auto;
  max-width: 1052px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.fecha-larga {
  font-family: 'Fjalla One', sans-serif;
  text-align: center;
  font-size: 18px;
  color: #fff;
  height: 42px;
  padding: 8px;
  margin: 8px auto;
  max-width: 1052px;
  letter-spacing: 2px;
  text-transform: uppercase;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff007f+0,ff0000+100 */
  background: #ff4330; /* Old browsers */
  background: -moz-linear-gradient(left,  #ff007f 0%, #ff4330 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #ff007f 0%,#ff4330 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #ff007f 0%,#ff4330 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff007f', endColorstr='#ff4330',GradientType=1 ); /* IE6-9 */
}
.img-filter {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #1b4b5e;
  opacity: 0.3;
}
.agenda-clear {
  margin: 10px auto;
  height: 4px;
  max-width: 1052px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff007f+0,ff0000+100 */
  background: #ff4330; /* Old browsers */
  background: -moz-linear-gradient(left,  #ff007f 0%, #ff4330 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #ff007f 0%,#ff4330 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #ff007f 0%,#ff4330 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff007f', endColorstr='#ff4330',GradientType=1 ); /* IE6-9 */
}
.agenda-clear:last-child {
    height: 0;
}
.contact-info {
  padding: 16px;
  font-family: 'Fjalla One', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  color: #1b4b5e;
  letter-spacing: 3px;
}
.contact-info ul{
  margin-top: 16px;
}
.contact-info li{
  font-size: 14px;
  list-style: none;
  padding: 9px;
  text-transform: uppercase;
  color: #1b4b5e;
  letter-spacing: 3px;
}
.contact-info i{
  padding: 2px;
  font-size: 20px;
  color: #ff4330;
}

.nota-img-head {
    width: 100%;
    height: 465px;
    overflow: hidden;
    position: relative;
}
.nota-img-head img {
    width: 100%;
    position: relative;
    top: -15%;
}
.logo-nota {
    margin: 35px 50%;
    position: relative;
    left:-50px;
}
.seccion-nota {
    border: 1px solid #ff4330;
    font-family: 'Fjalla One', sans-serif;
    margin: 2px auto 10px;
    min-width: 190px;
    max-width: 260px;
    text-align: center;
    color: #1b4b5e;
    letter-spacing: 3px;
    padding: 5px;
    text-transform: uppercase;
    font-size: 17px;
}
.fecha-nota {
    font-family: 'Raleway', sans-serif;
    color: #777;
    font-weight: bolder;
    margin: 0 auto 15px;
    width: 80%;
    text-align: right;
}
.compartir {
    color: #777;
    margin: 0 auto 5px;
    width: 80%;
    text-align: right;
    font-size: 18px;
}
.compartir i {
    padding-left: 5px;
}
.content {
    margin: 0;
    width: 80%;
    font-family: 'Raleway', sans-serif;
}
.nota h1 {
    color: #1b4b5e;
    font-family: 'Fjalla One', sans-serif;
    margin: 15px auto 35px;
    width: 500px;
    text-align: center;
    font-size: 32px;
    letter-spacing: 3px;
}
div.nota a:hover{
    color: red;
    text-decoration: none;
}
.content {
    width: 100%;
}
.content p{
    color: #1b4b5e;
    width: 80%;
    margin: 20px auto;
}
.epigrafe {
    margin: 0;
    color: white;
    text-align: center;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff007f+0,ff0000+100 */
    background: #ff4330; /* Old browsers */
    background: -moz-linear-gradient(left,  #ff007f 0%, #ff4330 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #ff007f 0%,#ff4330 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #ff007f 0%,#ff4330 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff007f', endColorstr='#ff4330',GradientType=1 ); /* IE6-9 */
}
.epigrafe img{
    width: 100% !important;
    margin: 0 !important;
    padding-left: 0px !important;
}
.content img.left{
    width: 90% !important;
    margin-right: 10%;
}
.content img.right{
    width: 90% !important;
    margin-left: 10%;
}
.show-comments-box {
    width: 80%;
    margin: 0 10%;
}
.show-comments-box .title{
    color: #1b4b5e;
    font-size: 24px;
}
.show-comments-box .each-comment{
    color: #333;
    font-size: 14px;
    background-color: #eee;
}
.show-comments-box .fecha{
    color: #333;
    font-size: 12px;
}
.show-comments-box .nombre{
    color: green;
    font-size: 12px;
}
.show-comments-box .comentario{
    color: red;
    font-size: 12px;
}
.nota-comment-box {
    width: 100%;
}
.nota-comment-box .title{
    color: #1b4b5e;
    font-size: 24px;
}
.nota-comment-title input{
    color: #333;
    font-size: 16px;
    padding: 8px;
}
.cabezal-parrafo{
    color: #1b4b5e;
    font-size: 16px;
    padding: 8px;
    letter-spacing: 5px;
    font-weight: bolder;
    border-bottom: 2px solid red;
    width: 80%;
    margin: 10%;
}