body {
    background-color: #FFF;
    font-family: 'Titillium Web', sans-serif !important;
    font-size: 12px;
	line-height: 20px;
}
.clear {
    height: 12px;
}
.clear-big {
    height: 30px;
}
.agenda-link{
    font-family: 'Fjalla One', sans-serif;
    border: 1px solid red;
    height: 64px;
    padding: 8px;
    margin: 8px auto;
    max-width: 1052px;
}
.seccion-head {
    font-family: 'Fjalla One', sans-serif;
    border: 1px solid red;
    text-align: center;
    font-size: 24px;
    color: #1b4b5e;
    height: 52px;
    padding: 8px;
    margin: 8px auto;
    max-width: 1052px;
    letter-spacing: 3px;
}
.agenda-link .titulo-agenda {
    position: relative;
    float: left;
    width: 51%;
    margin-left: 2%;
    font-size: 34px;
    color: #1b4b5e;
    letter-spacing: 6px;
}
.agenda-link .inner{
    float: left;
    width: 26%;
    font-size: 14px;
    color: #1b4b5e;
    letter-spacing: 5px;
    margin-left: 2%;
}

.agenda-link .btn {
    float: right;
    width: 14%;
    font-size: 22px;
    color: #eee;
    background-color: #1b4b5e;
    letter-spacing: 5px;
    border-radius: 0 !important;
}
div.ad-one {
    width: 98%;
    margin: 15px 1%;
    height: 50px;
    background-color: red;
    animation-name: fade-toggle;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes fade-toggle {
    0%   {background-color: red;}
    25%  {background-color: blue;}
    50%  {background-color: green;}
    75%  {background-color: yellow;}
    100% {background-color: red;}
}

.filter {
    background-color: #1b4b5e;
    opacity: 0.3;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.nota-box {
    position: relative;
    margin: 8px;
    float: left;
    max-width: 340px;
    max-height: 340px;
    overflow: hidden;
}
.nota-box img{
    position: relative;
    top: 0;
    left: -50%;
}
.nota-box img.seccion {
    position: relative;
    top: 0;
    left: 0;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
.nota-box:hover .overlay {
    cursor:pointer
}
.nota-box p.fecha{
    font-size: 16px;
    z-index: 2000;
}
.w3-third {
    width: 30% !important;
    margin: 1%;
}
.text-content {
    padding: 20px;
    color: white;
    width: 100%;
    height: 100%;
    text-align: center;
}
.text-content-b {
    padding: 10px;
    color: white;
    width: 100%;
    height: 100%;
    text-align: center;
}
.third-text-content {
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
    position: relative;
    bottom: -100px;
    max-height: 220px;
}
.text-content a:hover{
    text-decoration: none;
    color: #fff;
}
.third-text-content a{
    color: #fff;
}
.third-text-content a:hover{
    color: #fff;
    text-decoration: none;
}
.third-text-content .title{
    font-size: 20px;
    text-align: center;
    letter-spacing: 4px;
    min-height: 120px;
}
.third-text-content .seccion{
    font-size: 14px;
    padding-top: 5px;
    letter-spacing: 2px;
    color: #fff;
    text-align: center;
    margin-top: 15px;
}
.third-text-content .txt{
    font-size: 12px;
    padding-top: 5px;
    color: #eee;
    text-align: center;
}
.picture {
    display: block;
}
.agenda .item {
  position: relative;
  font-family: 'Fjalla One', sans-serif;
  padding: 10px 0;
  margin: 8px auto;
  max-width: 1052px;
  min-height: 235px;
}
.item .img{
  position: relative;
  float: left;
  margin: 0 15px 10px 0px;
  min-width: 215px;
  min-height: 215px;
  background-color: red;

}
.item .titulo {
  font-size: 20px;
  text-transform: uppercase;
  color: #ff2651;
  letter-spacing: 3px;
}
.item .titulo a {
  color: #1b4b5e;
  text-transform: none;
}
.item .titulo a:hover {
  text-decoration: none;
}
.item .descripcion {
  margin-top: 10px;
  font-size: 16px;
  color: #1b4b5e;
}
.item .lugar {
  position: absolute;
  bottom: 4px;
  left: 230px;
  margin-top: 10px;
  font-size: 16px;
  color: #1b4b5e;
  letter-spacing: 2px;
}
.item .horario {
  position: absolute;
  letter-spacing: 2px;
  bottom: 26px;
  left: 230px;
  margin-top: 10px;
  font-size: 16px;
  color: #ff2651;
}
.agenda-menu {
  font-family: 'Fjalla One', sans-serif;
  text-align: center;
  font-size: 16px;
  color: #1b4b5e;
  height: 38px;
  padding: 8px;
  margin: 8px auto;
  max-width: 1052px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.fecha-larga {
  font-family: 'Fjalla One', sans-serif;
  text-align: center;
  font-size: 18px;
  color: #fff;
  height: 42px;
  padding: 8px;
  margin: 8px auto;
  max-width: 1052px;
  letter-spacing: 2px;
  text-transform: uppercase;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff007f+0,ff0000+100 */
  background: #ff4330; /* Old browsers */
  background: -moz-linear-gradient(left,  #ff007f 0%, #ff4330 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #ff007f 0%,#ff4330 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #ff007f 0%,#ff4330 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff007f', endColorstr='#ff4330',GradientType=1 ); /* IE6-9 */
}
.img-filter {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #1b4b5e;
  opacity: 0.3;
}
.agenda-clear {
  margin: 10px auto;
  height: 4px;
  max-width: 1052px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff007f+0,ff0000+100 */
  background: #ff4330; /* Old browsers */
  background: -moz-linear-gradient(left,  #ff007f 0%, #ff4330 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #ff007f 0%,#ff4330 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #ff007f 0%,#ff4330 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff007f', endColorstr='#ff4330',GradientType=1 ); /* IE6-9 */
}
.agenda-clear:last-child {
    height: 0;
}
