body {
    background-color: #FFF;
    font-family: 'Titillium Web', sans-serif !important;
    font-size: 12px;
	line-height: 20px;
}
.clear {
    height: 12px;
}
.clear-big {
    height: 30px;
}
.agenda-link{
    font-family: 'Fjalla One', sans-serif;
    border: 1px solid red;
    height: 64px;
    padding: 8px;
    margin: 8px auto;
    max-width: 1052px;
}
.seccion-head {
    font-family: 'Fjalla One', sans-serif;
    border: 1px solid red;
    text-align: center;
    font-size: 24px;
    color: #1b4b5e;
    height: 52px;
    padding: 8px;
    margin: 8px auto;
    max-width: 1052px;
}
.agenda-link .titulo-agenda {
    position: relative;
    float: left;
    width: 51%;
    margin-left: 2%;
    font-size: 34px;
    color: #1b4b5e;
    letter-spacing: 6px;
}
.agenda-link .inner{
    float: left;
    width: 26%;
    font-size: 14px;
    color: #1b4b5e;
    letter-spacing: 5px;
    margin-left: 2%;
}

.agenda-link .btn {
    float: right;
    width: 14%;
    font-size: 22px;
    color: #eee;
    background-color: #1b4b5e;
    letter-spacing: 5px;
    border-radius: 0 !important;
}
div.ad-one {
    width: 98%;
    margin: 15px 1%;
    height: 50px;
    background-color: red;
    animation-name: fade-toggle;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes fade-toggle {
    0%   {background-color: red;}
    25%  {background-color: blue;}
    50%  {background-color: green;}
    75%  {background-color: yellow;}
    100% {background-color: red;}
}

.filter {
    background-color: #1b4b5e;
    opacity: 0.3;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.nota-box {
    position: relative;
    margin: 8px;
    float: left;
    max-width: 340px;
    max-height: 340px;
    overflow: hidden;
}
.nota-box img{
    position: relative;
    top: 0;
    left: -50%;
}
.nota-box img.seccion {
    position: relative;
    top: 0;
    left: 0;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
.nota-box:hover .overlay {
    cursor:pointer
}
.nota-box p.fecha{
    font-size: 16px;
    z-index: 2000;
}
.w3-third {
    width: 30% !important;
    margin: 1%;
}
.text-content {
    padding: 20px;
    color: white;
    width: 100%;
    height: 100%;
    text-align: center;
}
.text-content-b {
    padding: 10px;
    color: white;
    width: 100%;
    height: 100%;
    text-align: center;
}
.third-text-content {
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
    position: relative;
    bottom: -100px;
    max-height: 220px;
}
.text-content a:hover{
    text-decoration: none;
    color: #fff;
}
.third-text-content a{
    color: #fff;
}
.third-text-content a:hover{
    color: #fff;
    text-decoration: none;
}
.third-text-content .title{
    font-size: 20px;
    text-align: center;
    letter-spacing: 4px;
    min-height: 120px;
}
.third-text-content .seccion{
    font-size: 14px;
    padding-top: 5px;
    letter-spacing: 2px;
    color: #fff;
    text-align: center;
    margin-top: 15px;
}
.third-text-content .txt{
    font-size: 12px;
    padding-top: 5px;
    color: #eee;
    text-align: center;
}

.picture {
    display: block;
}
